<div accordion close-others="false">
  <div accordion-group ng-repeat="service in data.services" is-open="service.open">
    <div accordion-heading>
      <span class="open-{{service.open}}" ng-click="toggleService(service)"><em class="ui-icon"></em> {{service.Name}}</span>
    </div>
    <div ng-repeat="tariff in service.Tariffs" ng-click="selectTariff(tariff)" ng-class="{last: $last}" class="tk tko{{tariff.visible}} tz-{{service.Css}}">
      <h2>{{tariff.Name}}</h2><em></em>
    </div>
    <div class="cleaner"></div>

    <div class="cein">
    <div ng-repeat="tariff in service.Tariffs">
      <div ng-if="tariff.visible">
        <div ng-repeat="package in tariff.Packages" ng-click="selectPackage(package)" ng-class="{last: $last}" class="tkitem tkitemo{{package.visible}} tb-{{service.Css}}">
          <h3>{{package.Name}}</h3>
          <div class="tsdesc">{{package.Description}}</div>
          <div class="tsdown">
            <div ng-if="service.Id=='INTERNET'">
              <span ng-if="package.Speed">{{package.Speed}}</span>
            </div>
            <div ng-if="service.Id=='PHONE'">
              <span ng-if="package.Speed">{{package.Speed}}</span>
            </div>
            <div ng-if="service.Id=='BAL'">
              <span ng-if="package.Speed">{{package.Speed}}</span>
            </div>            
            <strong ng-if="package.Download">{{package.Download}}</strong>
          </div> 
          <div class="tsupload">
            <div ng-if="service.Id=='INTERNET'">
              <span ng-if="package.Speedup">{{package.Speedup}}</span>  
            </div>
            <div ng-if="service.Id=='PHONE'">
              <span ng-if="package.Speedup">{{package.Speedup}}</span>              
            </div>
            <div ng-if="service.Id=='BAL'">
              <span ng-if="package.Speedup">{{package.Speedup}}</span>              
            </div>              
            <strong ng-if="package.Upload">{{package.Upload}}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="cleaner"></div>   
    </div>
      
    <div ng-repeat="tariff in service.Tariffs" class="tkmonth">
      <div ng-repeat="package in tariff.Packages">
        <div ng-if="tariff.visible && package.visible">
          <h3>Měsíční platby</h3>
          <label class="tkpay tkpayo{{price.selected}}" ng-class="{tklst: $last}" ng-repeat="price in package.Prices" ng-click="togglePrice(price)">
            <strong>
            <em></em> 
            <b class="tkbox">
            <span class="tkbox1"><span class="tkdesc">{{price.Description}}</span> <span class="tkprice">{{price.MonthlyPayment}},- Kč</span><i class="cl"></i></span> 
            <span class="tkbox2"><span class="tkinst">Instalace</span> <span class="tkprice tkplst">{{price.InstallPayment}},- Kč</span><i class="cl"></i></span>
            </b>
            <i class="cl"></i>
            </strong>
          </label>
        </div>
      </div>
    </div>

    <div class="cleaner"></div>

    <div ng-repeat="tariff in service.Tariffs" class="tkpack">
      <div ng-repeat="package in tariff.Packages">
        <div ng-if="package.visible && package.Channels">
          <h3>Tématické balíčky</h3>
          <label ng-repeat="channel in package.Channels" ng-click="toggleChannel(channel)" class="tkitem tkitemo{{channel.selected}}">
            <h4>{{channel.Name}}</h4>          
            <div class="tkpprice">Měsíčně {{channel.Price}},- Kč</div>
          </label>
        </div>
      </div>
    </div>
    <div class="cleaner"></div>
        
  </div>
</div>